auth/build/
auth/node_modules/
auth/.env
auth/.env.testing
client/node_modules/
client/.next/
client/.env.local

common/node_modules/
common/build/
ticket/.env
ticket/node_modules/
ticket/build/

order/.env
order/node_modules


expiration/.env
expiration/node_modules

payment/.env
payment/node_modules


